:root {
  --primary-color: #1fb6ff;
  --facebook: #3b5998;
  --dark-facebook: #0e1f56;
  --google: #4285F6;
  --dark-google: #3367D6;
  --main-text-color: #47525E;
  --description-text-color: #8190A5;
  --beige: rgba(12,13,14,0.03);
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  font-size: 18px;
  font-family: Lato;
}

a {
  outline: none;
  text-decoration: none !important;
}

/*

#91C11E

#78a800

#659a41

#91c11e

#343434

#f7f6f4

#f8f8f8

#1fb6ff

*/
