:root {
  --primary-color: #1fb6ff;
  --facebook-color: #3b5998;
  --google-color: #4285F6;
  --main-text-color: #47525E;
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  font-size: 18px;
  font-family: Lato;
}

a {
  outline: none;
  text-decoration: none !important;
}

/*

#91C11E

#78a800

#659a41

#91c11e

#343434

#f7f6f4

#f8f8f8

#1fb6ff

*/
